* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff7a7ab0;
}

.main-container {
  /* background-color: #ff7a7ab0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 30px 20px;
  position: relative;
}

.main-container h1 {
  color: red;
  margin-bottom: 2%;
  width: 50%;
  border-radius: 5px;
  background-color: white;
  padding: 5px 18px;
  font-size: 28px;
  font-weight: 100;
}

.music-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  width: 50%;
  box-shadow: 0px 6px 13px 2px pink;
  border-radius: 5px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
}

.img-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.navigation button {
  padding: 5px 6px;
  border: none;
  border-radius: 44px;
  color: pink;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}

.navigation button:focus {
  outline: 0;
}

.play-btn {
  font-size: 50px;
}

.music-info {
  padding: 10px 20px;
  width: 100%;
  margin-top: 2%;
}

.music-info h4 {
  padding-left: 10px;
}

.progress-container {
  background-color: #ffcece;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}

/* _________________ music list ____________________ */

.music-list {
  padding: 5px 10px;
  width: 40%;
  position: absolute;
  top: 4%;
  left: 56%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.music-list ul {
  list-style-type: none;
}

.music-name {
  padding: 10px 15px;
  background-color: white;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 50px;
  font-weight: bold;
  font-size: 17px;
  color: #ff003b;
  text-align: center;
  cursor: pointer;
}
